# Q1.create a python program to sort the given list of tuples based on integer value using a lambda function.

In [1]:
lst = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
lst

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [3]:
sort_lst = sorted(lst , key = lambda x:x[1])

In [4]:
sort_lst

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

# Q2. write a python program to find the squares of all the numbers in the given list of integers using lambda and map functions.

In [5]:
int_list = [1,2,3,4,5,6,7,8,9,10]

In [6]:
sq_list = list(map(lambda x:x**2,int_list))

In [7]:
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Q3.write a python program to convert the given list of integers into a tuple of strings. use map and lambda functions.

In [8]:
lst_int = [1,2,3,4,5,6,7,8,9,10]

str_tup = tuple(map(lambda x:str(x),lst_int))

In [9]:
str_tup

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

# Q4.write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [10]:
l = [i for i in range(1,26)]

In [11]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [12]:
from functools import reduce

In [13]:
reduce(lambda x,y:x*y,l)

15511210043330985984000000

# Q.5 write a python program to filter the numbers in a gien list that are divisible by 2 and 3 using the filter function.

In [15]:
ls = [2,3,6,9,27,60,90,120,55,46]

In [16]:
list(filter(lambda x:x%2==0 and x%3==0,ls))

[6, 60, 90, 120]

# Q.6 write a python program to find palindromes in the given list of strigs using lambda and filter function

In [18]:
lstr = ['python', 'php', 'aba', 'radar', 'level']

In [19]:
list(filter(lambda x:x==x[::-1],lstr))

['php', 'aba', 'radar', 'level']